 @font-face {
   src: url("src\assets\fonts\Blackpearl-vPxA.ttf");
   font-family: "Pirate Game";
 }

 .cursor-in {
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
  background-color: gold;
}

.no-focus {
  background-color: white;
}

.exit-dialog {
  text-align: center;
  width: 800px;
  height: 150px;
  background-color: darkred;
  border-radius: 30px;
  border-color: black;
  border: solid;
  border-width: 7px;
  padding-top: 10px;
  cursor: url("src\assets\images\starfishcur.cur") 4 12, auto;
}

.dialog-text {
  font-size: 35px;
  font-family: "Pirate Game";
}

.button-exit {
  display: inline-flex;
  color: darkred;
  width: 220px;
  height: 70px;;
  margin-left: 20px;
  border-radius: 15px;
  border-color: black;
  font-size: 20px;
  font-family: "Pirate Game";
  padding-left: 85px;
  margin-top: 10px;
}
