{
  "files": ["*.html", "*.css", "*.scss", "*.json", "*.ts", "legacy/**/*.js"],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict"
}