@font-face {
  src: url("src\assets\fonts\POKERINOCTOBERDEMO-DXM3.OTF");
  font-family: "Poker Numbers";
}

@keyframes slidein {
 from {
   opacity: 0%;
   margin-top: 0%;
 }

 2.5% {
   opacity: 100%;
 }

10% {
 opacity: 100%;
 margin-top:30%;
 animation-play-state: paused;
}

 to {
   opacity: 100%;
   margin-top:30%;
   animation-play-state: paused;
 }
}

@keyframes slideinImg {
 from {
   opacity: 0%;
   margin-top: 0%;
 }

 2.5% {
   opacity: 100%;
 }

5% {
 opacity: 100%;
 margin-top:30%;
 animation-play-state: paused;
}

 to {
   opacity: 100%;
   margin-top:30%;
   animation-play-state: paused;
 }
}

html {
 background-color: black;
 background-size: cover;
 cursor: url("src\assets\Poker\poker.cur") 4 12, auto;
 width: 1335px;
 height: 735px;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 cursor: wait;
}

body {
 width: 1335px !important;
 height: 735px !important;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
}

.intro-panel {
 display: inline-flex;
 width: 1335px;
 height: 735px;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 position: relative;
}

.intro-text {
 display: inline-flex;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 top: 260px;
 left: 350px;
}

.img-intro {

}

.word-1 {
 opacity: 0%;
font-size: 68px;
font-family: "Poker Numbers";
color: gold;
animation-duration: 10s;
animation-delay: 0.5s;
animation-name: slidein;
padding-left: 350px;
}

.word-2 {
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 0.9s;
animation-name: slidein;

}

.word-3{
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 1.3s;
animation-name: slidein;

}

.word-4 {
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 1.7s;
animation-name: slidein;

}

.word-5 {
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
 animation-delay: 2.1s;
 animation-name: slidein;
}

.word-6 {
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 2.5s;
animation-name: slidein;

}

.word-7 {
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 2.9s;
animation-name: slidein;

}

.word-8 {
 opacity: 0%;
 padding-left: 50px;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 3.2s;
animation-name: slidein;

}

.word-9 {
 opacity: 0%;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 3.7s;
animation-name: slidein;
}

.word-10 {
 opacity: 0%;
 padding-left: 50px;
 font-size: 68px;
 font-family: "Poker Numbers";
 color: gold;
 animation-duration: 10s;
animation-delay: 4.5s;
animation-name: slideinImg;
}

img {
 height: 90px;
 width: 90px;
}
