@font-face {
  src: url("src\assets\fonts\TreasureMapDeadhand-yLA3.ttf");
  font-family: "Pirate Menu";

 }

 @keyframes floatToRight {
  from {
    opacity: 0%;
    margin-left: -10%;
  }

  2.5% {
    opacity: 100%;
  }

  to {
    opacity: 100%;
    margin-left: 110%;
  }
 }

 @keyframes floatToLeft {
  from {
    opacity: 0%;
    margin-left: 110%;
  }

  2.5% {
    opacity: 100%;
  }

  to {
    opacity: 100%;
    margin-left: -10%;
  }
 }

 @keyframes bubbleOut {
  from {
    opacity: 0%;
    margin-bottom: 110%;
  }

  2.5% {
    opacity: 100%;
  }

  to {
    opacity: 100%;
    margin-bottom: -10%;
  }
 }

html {
background-size: cover;
height: 735px;
cursor: url("src\assets\images\starfishcur.cur") 4 12, auto;
overflow: hidden;
}

.nav-bar {
  display: inline-flex;
  margin-left: 60px;
  margin-top: 10px;
}

.button-menu {
  display: inline-flex;
  color: black;
  width: 220px;
  height: 70px;;
  margin-left: 20px;
  border-radius: 50% 20% / 10% 90%;
  border-color: darkblue;
  font-size: 24px;
  font-family: "Pirate Menu";
  background-color: rgb(244, 226, 150);
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
}

.start-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\images\icons8-pirates-des-caraïbes-32.png");
}

.config-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\images\icons8-gouvernail-de-bateau-32.png");
}

.help-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\images\icons8-carte-au-trésor-32.png");
}

.debug-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\images\icons8-coffre-au-trésor-32.png");
}

.exit-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\images\icons8-pont-roulant-32.png");
}

.button-text {
  padding-top: 5px;
  margin-left: 13px;
}

.party-panel{
position: absolute;
top: 100px;
opacity: 70%;
margin-left: 70px;
margin-top: 40px;
}

.exit {
position: absolute !important;
top: 50px;
opacity: 70%;
margin-top: 200px;
margin-left: 250px;
}

.yellow-fish {
animation-iteration-count: infinite;
animation-name: floatToRight;
animation-duration: 30s;
animation-delay: 0s;
}

.salmon-fish {
animation-iteration-count: infinite;
animation-name: floatToRight;
animation-duration: 40s;
animation-delay: 0s;
}

.blue-fish {
opacity: 0%;
animation-iteration-count: infinite;
animation-name: floatToRight;
animation-duration: 50s;
animation-delay: 5s;
}

.normal-fish {
height: 100px;
width: 100px;
opacity: 0%;
animation-iteration-count: infinite;
animation-name: floatToLeft;
animation-duration: 50s;
animation-delay: 0s;
}

.crab {
height: 100px;
width: 100px;
opacity: 0%;
animation-iteration-count: infinite;
animation-name: floatToLeft;
animation-duration: 30s;
animation-delay: 10s;
}

.right {
transform: scaleX(-1);
}
