@font-face {
  src: url("src\assets\fonts\POKERKINGSREGULAR-36K8.TTF");
  font-family: "Poker";
 }

html {
background-size: cover;
height: 735px;
cursor: url("src\assets\Poker\poker.cur") 4 12, auto;
}

.nav-bar {
  display: inline-flex;
  margin-left: 60px;
  margin-top: 10px;
}

.cursor-in {
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
  background-color: gold;
}

.cursor-out {
  background-color: lightslategray;
}

.button-menu {
  display: inline-flex;
  color: darkred;
  width: 220px;
  height: 70px;;
  margin-left: 20px;
  border-radius: 50% 20% / 10% 40%;
  border-color: darkred;
  font-style: oblique;
  font-size: 20px;
  font-family: "Poker";
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
}

.start-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\Poker\leisure-chip-poker-gamble-casino_108530.png");
}

.config-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\Poker\settings_icon_128522.png");
}

.help-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\Poker\iconfinder_info-alt_383122.png");
}

.debug-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\Poker\debugMode_icon_128500.png");
}

.exit-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background-image: url("src\assets\Poker\Windows_Turn_Off_22528.png");
}

.button-text {
  padding-top: 5px;
  margin-left: 13px;
}

.party-panel{
margin-left: 70px;
margin-top: 40px;
}

.exit-dialog {
margin-top: 200px;
margin-left: 250px;
}
