@font-face {
  src: url("src\assets\fonts\TreasureMapDeadhand-yLA3.ttf");
  font-family: "Pirate Menu";
 }
 @font-face {
   src: url("src\assets\fonts\Blackpearl-vPxA.ttf");
   font-family: "Pirate Game";
 }

 .cursor-in {
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
  background-color: lightslategray;
}

.no-focus {
  background-color: none;
}

.game-panel {
  text-align: center;
  width: 1200px;
  height: 450px;
  background-color: rgb(244, 226, 150);;
  border-radius: 30px;
  border-color: black;
  border: solid;
  border-width: 7px;
  padding-top: 10px;
  cursor: url("src\assets\images\starfishcur.cur") 4 12, auto;
}

.panel-title {
  font-size: 35px;
  font-family: "Pirate Menu";
  font-style: italic;
}

.label-panel {
  text-decoration: underline;
}

.button-exitHelp {
display: inline-flex;
 color: darkred;
 width: 18%;
 height: 15%;
 border-radius: 0.75em;
 border-color: black;
 font-style: italic;
 font-size: 1.75em;
 font-family: "Pirate Menu";
 padding-left: 3.5%;
 margin-top: 1.25%;
}

.panel-text {
  display: inline-block;
  text-align: left;
  width: 1000px;
  height: 280px;
  padding: 22px 10px 0px 10px;
  color: darkred;
  font-family: "Pirate Game";
  font-size: 30px;
  background-color: rgb(244, 226, 150);;
  border-radius: 30px;
  border-color: lightslategray;
  border-width: 4px;
  border: solid;
}
